{% extends 'lay_iridian.html.twig' %}

{% block content %}

    <div class="wrapper">
        <div class="carrito">
            {% include 'CarroiridianBundle:Default:pasos.html.twig' %}
            <h4>Lo sentimos, ocurrio un error.</h4>

        </div>
    </div>

{% endblock %}