
{% trans_default_domain 'FOSUserBundle' %}

<div class="container forgot_pass">
    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
            {{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}
                {{ form_widget(form) }}
                <div>
                    <input class="button" type="submit" value="{{ 'profile.edit.submit'|trans }}" />
                </div>
            {{ form_end(form) }}
        </div>
        <div class="col-lg-4"></div>
    </div>
</div>