/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/vendor/*/
/node_modules
.idea/
/composer.lock
/sed.zip

/public_html/css
/public_html/media
/public_html/bundles/
/public_html/assets
/public_html/uploads
/public_html/assets/vendor

/web/css
/web/media
/web/bundles/
/web/assets
/web/assets/vendor
/web/uploads
var/