<html>
    <head></head>
    <body>
        <script>
            var id = {{ id }};
            var src = '{{ ruta }}/{{ name }}';
            parent.loadImagen(id,src);

        </script>
    </body>
</html>

