{% trans_default_domain 'FOSUserBundle' %}


<div class="container forgot_pass">
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
        {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
            {{ form_widget(form) }}
            <div>
                <input class="button" type="submit" value="{{ 'change_password.submit'|trans }}" />
            </div>
        {{ form_end(form) }}
        </div>
        <div class="col-lg-3"></div>
    </div>
</div>