{% extends 'lay_iridian.html.twig' %}
{% block stylesheets %}
    <link href="{{ asset('css/header-view.css') }}" rel="stylesheet">
    {{ parent() }}
    <link href="{{ asset('css/reset.css') }}" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="contenido container">
    <div class="row">
        {% include "FOSUserBundle:Resetting:request_content.html.twig" %}
    </div>
</div>
{% endblock content %}
